@font-face {
  font-family: 'Apercu Pro';
  src: url(fonts/apercu-regular-pro.woff2) format('woff2');
}

@font-face {
  font-family: 'Tobias';
  src: url(fonts/Tobias-Light.woff2) format('woff2');
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Apercu Pro, sans-serif;
  background: rgb(245 245 235);
  color: #0a1e25;
}

/* ---------- HEADER ---------- */
.head {
  background: rgb(245 245 235);
  border-bottom: 1px solid black;
  height: 4rem;
  display: flex;
  align-items: center;
}

.position {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.second_item{
  display: flex; gap:2vw; align-items: center;
}
.second_item span{ font-size: 2vw;
}

.second_item a {
  text-decoration: none; 
  color: inherit;
  letter-spacing: 2px;
}

/* ---------- HERO ---------- */
.apply-hero {
  padding: 10rem 10vw 4rem;
  background:linear-gradient(to right, #9DC4D2,#5E92A4, #26667C);
  color: rgb(0, 0, 0);
  font-weight: thin;
  display: flex; gap: 10rem;
  align-items: center;
}

.apply-hero h2 {
    font-size:60px;
    letter-spacing: -1.4px;
    
}

.content{
    display: flex;
    flex-direction: column; gap: 3rem;
}
.apply-hero p {
  font-family: Apercu Pro, sans-serif;
  max-width: 600px;font-size: 1.2vw;
  line-height: 1.5;
}

/* ---------- FORM ---------- */
.apply-form-section {
  padding: 6rem 10vw;
  font-family:'Apercu Mono','Courier ',monospace;
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-weight: 200;
}

.apply-form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 3.7rem;
}

.form-group {
  display: flex;
  flex-direction: column; gap:1.4rem;
}

label {
  margin-bottom: 0.5rem;
  letter-spacing: 1px; font-size: 1.5vw;
}

input,
select,
textarea {
  padding: 12px 0;
  border: none;                 
  border-bottom: 1px solid black; /* only bottom line */
  background: transparent;
  font-family: inherit;
  outline: none;
}

textarea {
  min-height: 120px;
  resize: none;
}

button {
  margin-top: 1rem; font-family:inherit ;
  padding: 14px;
  background: #0a1e25;
  color: white;
  border: none;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.4s ease;
}

button:hover {
  background: #8cd095;
  color: #0a1e25;
}
button{
    width: 150px;
    border-radius: 25px;

}

h2{
    font-family: 'Tobias', serif;
    line-height: 40px;
    font-size: 2.9rem;
    letter-spacing: -1px; font-weight: 300;
    width: 100%;
  }
  .contact-card {
    display:flex;
    flex-direction: column;
    letter-spacing: 1px;
    row-gap: 2vw;
    margin:0vw  15vw 3vw 15vw;
    text-align: center;
    background: linear-gradient(to right, #A9CBE7,#5899CE);
    border-radius: 10px;
    padding: 60px;
    ;
  }

  .last_p{
    margin:18px 96.539px 25px 96.539px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last_part{
    display:flex; align-items: center; gap:10px;
    border: 1.8px solid black; border-radius: 18px; box-sizing: border-box;
    width:auto; height: auto;
    padding:2px 2px 2px 10px ;
    letter-spacing: 2px;
    font-size: 0.89rem;
    @media(width <= 767px) {
        line-height:2vw;
        width:66vw;
        margin: 0px 5vw 0px 5vw;
        justify-content: space-between;
    }
}

.last_part .arrow{
    background: black; color: aliceblue; border-radius: 50%;
    padding:8px;
    transition: all 500ms ease;
    width:30px; height:auto;
    text-align: center;
    justify-content: end;

}
.last_part .arrow:hover{
   transform:translateX(8px) ;
   background-color: rgb(150, 254, 181);
}
/* logo sliding animation and design  */
.slide-logo-window{
  display: flex; align-items: center;
  width: 100%; overflow: hidden;
  padding: 3vw;
  background-color: #dedecc;
}
.slide-track{
  display: flex; gap: 4.4vw;
  animation: scroll 20s ease-in-out infinite ;
  transition: all ease-in;
}
.slide-track img{
  width: auto;
  height: 4.2vw;
}
.slide-track:hover{
  animation-play-state:paused;
}

@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

/* footer container design */

footer{
    --tw-bg-opacity:1;
    background-color:rgb(10 30 37 /var(--tw-bg-opacity));
    --tw-text-opacity:1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-family:'Apercu Mono','Courier ',monospace;
}
.grand-parent{
    display:flex; flex-direction: column;
    padding:4rem 2.5rem 2.5rem; border:2px solid black;
}
.child1 img{
    width:73px;
    height:auto;
}
.parent-1{
    display:flex;
    gap: 13.2vw;
    padding-bottom: 1.3vw;
    border-bottom:1.6px solid rgb(244, 243, 243) ;
}
.child2 a , .anchor a{
    text-decoration: none;
    color: inherit;
    font-family: inherit; text-transform: uppercase;
    transform: scaleY(0.95);
}
.grid-container{
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-columns:repeat(4,minmax(0,1fr));
    column-gap: 9.7vw;
    row-gap:11.3px;
    letter-spacing: 2.3px; font-size:0.86rem;
}
/* 2nd part of the footer  parent2 container styling */
.parent-2{
    font-size:0.86rem;
    padding-top:1.2vw;
}
.parent2-1st-child{
    display:flex; gap:2.3vw; letter-spacing: 2.3px;
    margin-bottom:2vw;
}
.parent2-2nd-child{
    display: flex; justify-content: space-between;
}
.parent2-2nd-child span{
    font-family: Apercu Pro, sans-serif;
}
/* now parent 2 - 2nd child - 2nd child layout */
.social-media-icons{
    display: flex; gap:3vw;
}
/* hover effect for the footer container */
.green-hov:hover {
    color:#8cd095;
}
.icon:hover{
    filter:brightness(0.7);
}